/CharacterViewer/bin
/CharacterViewer/obj
/OrderOfWizardMonks/bin
/OrderOfWizardMonks/obj
/OrderOfWizardMonks.Test/obj
/OrderOfWizardMonks.Test/bin
/SkillViewer/obj
/SkillViewer/bin
/TestResults
/WorldSimulation/obj
/WorldSimulation/bin
/*.suo
/*.suo
*.suo
.vs/wizard-monks/v15/Server/sqlite3/db.lock
.vs/wizard-monks/v15/Server/sqlite3/storage.ide
.vs/wizard-monks/v15/Server/sqlite3/storage.ide-shm
.vs/wizard-monks/v15/Server/sqlite3/storage.ide-wal
.vs/wizard-monks/v15/sqlite3/storage.ide
packages/EntityFramework.6.0.0/EntityFramework.6.0.0.nupkg
packages/EntityFramework.6.0.0/Content/App.config.transform
packages/EntityFramework.6.0.0/Content/Web.config.transform
packages/EntityFramework.6.0.0/lib/net40/EntityFramework.dll
packages/EntityFramework.6.0.0/lib/net40/EntityFramework.SqlServer.dll
packages/EntityFramework.6.0.0/lib/net40/EntityFramework.SqlServer.xml
packages/EntityFramework.6.0.0/lib/net40/EntityFramework.xml
packages/EntityFramework.6.0.0/lib/net45/EntityFramework.dll
packages/EntityFramework.6.0.0/lib/net45/EntityFramework.SqlServer.dll
packages/EntityFramework.6.0.0/lib/net45/EntityFramework.SqlServer.xml
packages/EntityFramework.6.0.0/lib/net45/EntityFramework.xml
packages/EntityFramework.6.0.0/tools/about_EntityFramework.help.txt
packages/EntityFramework.6.0.0/tools/EntityFramework.PowerShell.dll
packages/EntityFramework.6.0.0/tools/EntityFramework.PowerShell.Utility.dll
packages/EntityFramework.6.0.0/tools/EntityFramework.psd1
packages/EntityFramework.6.0.0/tools/EntityFramework.psm1
packages/EntityFramework.6.0.0/tools/init.ps1
packages/EntityFramework.6.0.0/tools/install.ps1
packages/EntityFramework.6.0.0/tools/migrate.exe
packages/System.Data.SQLite.1.0.108.0/System.Data.SQLite.1.0.108.0.nupkg
packages/System.Data.SQLite.Core.1.0.108.0/System.Data.SQLite.Core.1.0.108.0.nupkg
packages/System.Data.SQLite.Core.1.0.108.0/build/net20/System.Data.SQLite.Core.targets
packages/System.Data.SQLite.Core.1.0.108.0/build/net20/x64/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.108.0/build/net20/x86/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.108.0/build/net40/System.Data.SQLite.Core.targets
packages/System.Data.SQLite.Core.1.0.108.0/build/net40/x64/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.108.0/build/net40/x86/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.108.0/build/net45/System.Data.SQLite.Core.targets
packages/System.Data.SQLite.Core.1.0.108.0/build/net45/x64/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.108.0/build/net45/x86/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.108.0/build/net451/System.Data.SQLite.Core.targets
packages/System.Data.SQLite.Core.1.0.108.0/build/net451/x64/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.108.0/build/net451/x86/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.108.0/build/net46/System.Data.SQLite.Core.targets
packages/System.Data.SQLite.Core.1.0.108.0/build/net46/x64/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.108.0/build/net46/x86/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.108.0/lib/net20/System.Data.SQLite.dll
packages/System.Data.SQLite.Core.1.0.108.0/lib/net20/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.108.0/lib/net20/System.Data.SQLite.xml
packages/System.Data.SQLite.Core.1.0.108.0/lib/net40/System.Data.SQLite.dll
packages/System.Data.SQLite.Core.1.0.108.0/lib/net40/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.108.0/lib/net40/System.Data.SQLite.xml
packages/System.Data.SQLite.Core.1.0.108.0/lib/net45/System.Data.SQLite.dll
packages/System.Data.SQLite.Core.1.0.108.0/lib/net45/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.108.0/lib/net45/System.Data.SQLite.xml
packages/System.Data.SQLite.Core.1.0.108.0/lib/net451/System.Data.SQLite.dll
packages/System.Data.SQLite.Core.1.0.108.0/lib/net451/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.108.0/lib/net451/System.Data.SQLite.xml
packages/System.Data.SQLite.Core.1.0.108.0/lib/net46/System.Data.SQLite.dll
packages/System.Data.SQLite.Core.1.0.108.0/lib/net46/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.108.0/lib/net46/System.Data.SQLite.xml
packages/System.Data.SQLite.EF6.1.0.108.0/System.Data.SQLite.EF6.1.0.108.0.nupkg
packages/System.Data.SQLite.EF6.1.0.108.0/content/net40/app.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.108.0/content/net40/app.config.transform
packages/System.Data.SQLite.EF6.1.0.108.0/content/net40/web.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.108.0/content/net40/web.config.transform
packages/System.Data.SQLite.EF6.1.0.108.0/content/net45/app.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.108.0/content/net45/app.config.transform
packages/System.Data.SQLite.EF6.1.0.108.0/content/net45/web.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.108.0/content/net45/web.config.transform
packages/System.Data.SQLite.EF6.1.0.108.0/content/net451/app.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.108.0/content/net451/app.config.transform
packages/System.Data.SQLite.EF6.1.0.108.0/content/net451/web.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.108.0/content/net451/web.config.transform
packages/System.Data.SQLite.EF6.1.0.108.0/content/net46/app.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.108.0/content/net46/app.config.transform
packages/System.Data.SQLite.EF6.1.0.108.0/content/net46/web.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.108.0/content/net46/web.config.transform
packages/System.Data.SQLite.EF6.1.0.108.0/lib/net40/System.Data.SQLite.EF6.dll
packages/System.Data.SQLite.EF6.1.0.108.0/lib/net45/System.Data.SQLite.EF6.dll
packages/System.Data.SQLite.EF6.1.0.108.0/lib/net451/System.Data.SQLite.EF6.dll
packages/System.Data.SQLite.EF6.1.0.108.0/lib/net46/System.Data.SQLite.EF6.dll
packages/System.Data.SQLite.EF6.1.0.108.0/tools/net40/install.ps1
packages/System.Data.SQLite.EF6.1.0.108.0/tools/net45/install.ps1
packages/System.Data.SQLite.EF6.1.0.108.0/tools/net451/install.ps1
packages/System.Data.SQLite.EF6.1.0.108.0/tools/net46/install.ps1
packages/System.Data.SQLite.Linq.1.0.108.0/System.Data.SQLite.Linq.1.0.108.0.nupkg
packages/System.Data.SQLite.Linq.1.0.108.0/content/net20/app.config.transform
packages/System.Data.SQLite.Linq.1.0.108.0/content/net20/web.config.transform
packages/System.Data.SQLite.Linq.1.0.108.0/content/net40/app.config.transform
packages/System.Data.SQLite.Linq.1.0.108.0/content/net40/web.config.transform
packages/System.Data.SQLite.Linq.1.0.108.0/content/net45/app.config.transform
packages/System.Data.SQLite.Linq.1.0.108.0/content/net45/web.config.transform
packages/System.Data.SQLite.Linq.1.0.108.0/content/net451/app.config.transform
packages/System.Data.SQLite.Linq.1.0.108.0/content/net451/web.config.transform
packages/System.Data.SQLite.Linq.1.0.108.0/content/net46/app.config.transform
packages/System.Data.SQLite.Linq.1.0.108.0/content/net46/web.config.transform
packages/System.Data.SQLite.Linq.1.0.108.0/lib/net20/System.Data.SQLite.Linq.dll
packages/System.Data.SQLite.Linq.1.0.108.0/lib/net40/System.Data.SQLite.Linq.dll
packages/System.Data.SQLite.Linq.1.0.108.0/lib/net45/System.Data.SQLite.Linq.dll
packages/System.Data.SQLite.Linq.1.0.108.0/lib/net451/System.Data.SQLite.Linq.dll
packages/System.Data.SQLite.Linq.1.0.108.0/lib/net46/System.Data.SQLite.Linq.dll
*.vsidx
/.vs/wizard-monks/v17
/.vs/ProjectEvaluation
/.vs/wizard-monks/DesignTimeBuild
/SkillViewer/*.user
/.vs/wizard-monks/CopilotIndices/17.14.786.1071/*.db
/.vs/wizard-monks/CopilotIndices/17.14.786.1071/*.db-shm
/.vs/wizard-monks/CopilotIndices/17.14.786.1071/*.db-wal
