/CharacterViewer/bin
/CharacterViewer/obj
/OrderOfWizardMonks/bin
/OrderOfWizardMonks/obj
/OrderOfWizardMonks.Test/obj
/OrderOfWizardMonks.Test/bin
/SkillViewer/obj
/SkillViewer/bin
/TestResults
/WorldSimulation/obj
/WorldSimulation/bin
/*.suo
/*.suo
